= render 'shared/side_bar'

.right-content
  .header
    %a.header.button{href: "#"}
      Edit
    .header__title
      = @group.name
    .header__members
      = "Members: #{@group.users}"
  .messages
    =render @messages
  .input
    = form_for [@group, @message] do |f|
      = f.text_field :body, class: "text-field", placeholder: "type a message"
      = f.label :image, class: "text-field__picture" do
        %i.fa.fa-image{style: "padding: 15px;"}
        = f.file_field :image, class: "upload-file"
      = f.submit 'Send', class: "button"
