
.right-content
  .header
    %a.header.button{href: "#"}
      Edit
    .header__title
      sampleグループ
    .header__members
      ryosuke
  .messages
    .messages__name
      ryosuke
    .messages__time
      19/01/06 00:34:32
    .messges__text
      hello
  .input
    = form_for [@group, @message] do |f|
      = f.text_field :body, class: "input text-field", placeholder: "type a message"
      = f.label class: "input text-field text-field__picture" do
        = f.file_field class: "input upload-file"
        %i.fa.fa-image{style: "padding: 15px;"}
      = f.submit 'Send', class: "input button"
